@page
@model LearnLink.WebApi.Pages.LocalRoles.UpdateModel
@{
    ViewData["Title"] = "Update local role";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('LocalRoles/LocalRolesActionsPage')">
        Local-Roles
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('LocalRoles/Update')">
        Update
    </h2>
</div>

<form class="form" method="get">
    <div class="form-input">
        <p class="form-input__label">Local Role Id</p>
        <div class="line-container">
            <input type="number" name="localRoleId" placeholder="Role Id..." min="0" class="input" />
            <button class="primary-button">Load</button>
        </div>
    </div>
</form>


@if (Model.FoundLocalRole != null)
{
    <form class="form width-400" method="post">
        <div class="form-input">
            <p class="form-input__label">Local Role Id</p>
            <input type="number" name="localRoleId" placeholder="Role Id..." min="0" class="input" value="@Model.FoundLocalRole.Id" />
        </div>

        <div class="form-input">
            <p class="form-input__label">Local Role Sign</p>
            <input type="text" name="localRoleSign" placeholder="Role Sign..." class="input" value="@Model.FoundLocalRole.Sign" />
        </div>

        <div class="form-input">
            <p class="form-input__label">Local Role Name</p>
            <input type="text" name="localRoleName" placeholder="Role Name..." class="input" value="@Model.FoundLocalRole.Name" />
        </div>

        <p>Permissions: </p>

        <div class="line-container">
            <input type="checkbox" class="checkbox" id="viewAccess" name="viewAccess" checked="@Model.FoundLocalRole.ViewAccess" />
            <label for="viewAccess">View Access</label>
        </div>

        <div class="line-container">
            <input type="checkbox" class="checkbox" id="manageAccess" name="manageAccess" checked="@Model.FoundLocalRole.ManageInternalAccess" />
            <label for="manageAccess">Manage Access</label>
        </div>

        <div class="line-container">
            <input type="checkbox" class="checkbox" id="editAccess" name="editAccess" checked="@Model.FoundLocalRole.EditAccess" />
            <label for="editAccess">Edit Access</label>
        </div>

        <div class="line-container">
            <input type="checkbox" class="checkbox" id="removeAccess" name="removeAccess" checked="@Model.FoundLocalRole.RemoveAccess" />
            <label for="removeAccess">Remove Access</label>
        </div>

        <div class="line-container">
            <input type="checkbox" class="checkbox" id="inviteAccess" name="inviteAccess" checked="@Model.FoundLocalRole.InviteAccess" />
            <label for="inviteAccess">Invite Access</label>
        </div>

        <div class="line-container">
            <input type="checkbox" class="checkbox" id="kickAccess" name="kickAccess" checked="@Model.FoundLocalRole.KickAccess" />
            <label for="kickAccess">Kick Access</label>
        </div>

        <div class="form__actions">
            <button class="primary-button">Update</button>
        </div>
    </form>

}

@{
    if (Model.QueryResult != null)
    {
        string className = Model.QueryResult.Success ? "green-text" : "red-text";
        <div class="response-container" id="register-response">
            <h3>Response:</h3>
            <p>Success: <span class="@className">@Model.QueryResult.Success.ToString()</span></p>
            <p>Code: @Model.QueryResult.StatusCode.ToString()</p>
            <p>Message: @Model.QueryResult.Message</p>
        </div>
    }
}