@page
@model LearnLink.WebApi.Pages.Sections.UpdateModel
@{
    ViewData["Title"] = "Update section";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Sections/SectionsActionsPage')">
        Sections
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('Sections/Update')">
        Update
    </h2>
</div>

<form class="form width-400" method="get">
    <div class="form-input">
        <p class="form-input__label">Lesson Id</p>
        <input type="number" name="lessonId" min="0" placeholder="Lesson Id..." class="input" />
    </div>

    <div class="form-input">
        <p class="form-input__label">Order</p>
        <input type="number" name="order" min="1" placeholder="Order..." class="input" />
    </div>

    <div class="form__actions">
        <button class="primary-button">Load</button>
    </div>
</form>

@{
    if (Model.QueryResult != null)
    {
        string className = Model.QueryResult.Success ? "green-text" : "red-text";
        <div class="response-container" id="register-response">
            <h3>Response:</h3>
            <p>Success: <span class="@className">@Model.QueryResult.Success.ToString()</span></p>
            <p>Code: @Model.QueryResult.StatusCode.ToString()</p>
            <p>Message: @Model.QueryResult.Message</p>
        </div>
    }
}


@if(Model.FoundSection != null)
{
    <form class="form" method="post" enctype="multipart/form-data">
        <div class="form-input">
            <p class="form-input__label">Lesson Id</p>
            <input type="number" min="0" name="lessonId" placeholder="Lesson Id..." class="input" value="@Model.FoundSection.LessonId" />
        </div>

        <div class="form-input">
            <p class="form-input__label">Section Id</p>
            <input type="number" min="0" name="sectionId" placeholder="Section Id..." class="input" value="@Model.FoundSection.Id" />
        </div>

        <div class="form-input">
            <p class="form-input__label">Title</p>
            <input type="text" name="title" placeholder="Title..." class="input" value="@Model.FoundSection.Title" />
        </div>
        <div class="form-input">
            <p class="form-input__label">Text</p>
            <textarea class="textarea input" name="text" placeholder="Text...">@Model.FoundSection.Content.Text</textarea>
        </div>
        <div class="form-input">
            <p class="form-input__label">Code language</p>
            <input type="text" name="lang" placeholder="Code language..." class="input" value="@Model.FoundSection.Content.CodeLanguage" />
        </div>
        <div class="form-input">
            <p class="form-input__label">File</p>
            <input type="file" class="input" name="contentFile" value="Upload file" />
        </div>
        <div class="line-container">
            <input type="checkbox" class="checkbox" id="isText" name="isText" checked="@Model.FoundSection.Content.IsText" />
            <label for="isText">IsText</label>
        </div>
        <div class="line-container">
            <input type="checkbox" class="checkbox" id="isCodeBlock" name="isCodeBlock" checked="@Model.FoundSection.Content.IsCodeBlock" />
            <label for="isCodeBlock">IsCodeBlock</label>
        </div>
        <div class="line-container">
            <input type="checkbox" class="checkbox" id="isFile" name="isFile" checked="@Model.FoundSection.Content.IsFile" />
            <label for="isFile">IsFile</label>
        </div>

        <div class="form__actions">
            <button class="primary-button">Update</button>
        </div>
    </form>
}
