@page
@model LearnLink.WebApi.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Users/UsersPage')">
        Users
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('Users/Edit')">
        Edit
    </h2>
</div>

@{
    if (Model.QueryResult != null)
    {
        string className = Model.QueryResult.Success ? "green-text" : "red-text";
        <div class="response-container" id="register-response">
            <h3>Response:</h3>
            <p>Success: <span class="@className">@Model.QueryResult.Success.ToString()</span></p>
            <p>Code: @Model.QueryResult.StatusCode.ToString()</p>
            <p>Message: @Model.QueryResult.Message</p>
        </div>
    }
}

<form class="form" method="get">
    <div class="form-input">
        <p class="form-input__label">User Id</p>
        <div class="line-container">
            <input type="number" name="userId" placeholder="User Id..." value="0" class="input" />
            <button class="primary-button" value="post">Load</button>
        </div>
    </div>

</form>

@if(Model.UserDto != null) {
    <form class="form register-form" method="post" enctype="multipart/form-data">
        <div class="form-input">
            <p class="form-input__label">User Id</p>
            <input type="number" name="id" placeholder="User Id..." class="input" value="@Model.UserDto.Id" />
        </div>
        <div class="form-input">
            <p class="form-input__label">Nickname</p>
            <input type="text" name="nickname" placeholder="Nickname..." class="input" value="@Model.UserDto.Nickname" />
        </div>
        <div class="form-input">
            <p class="form-input__label">Name</p>
            <input type="text" name="name" placeholder="Name..." class="input" value="@Model.UserDto.Name" />
        </div>
        <div class="form-input">
            <p class="form-input__label">Lastname</p>
            <input type="text" name="lastname" placeholder="Lastname..." class="input" value="@Model.UserDto.Lastname" />
        </div>
        <div class="form-input">
            <p class="form-input__label">Avatar</p>
            <input type="file" class="input" name="avatarFormFile" value="Upload avatar" accept="image/*" />
        </div>

        <div class="form__actions">
            <button class="primary-button" value="post">Submit</button>
        </div>
    </form>
}

