@page
@model LearnLink.WebApi.Pages.Courses.FindUserCoursesModel
@{
    ViewData["Title"] = "Find user courses";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Courses/CoursesActionsPage')">
        Courses
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('Courses/FindUserCourses')">
        Find-User-Courses
    </h2>
</div>

<form class="form width-400" method="get">
    <div class="form-input">
        <p class="form-input__label">User Id</p>
        <input type="number" name="userId" placeholder="User Id..." min="0" class="input" />
    </div>
    <div class="form-input">
        <p class="form-input__label">Search text</p>
        <input type="text" name="searchText" placeholder="Course title..." class="input" />
    </div>

    <div class="line-container">
        <input type="checkbox" class="checkbox" id="subscription" name="subscriptionString" />
        <label for="subscription">In subscription list</label>
    </div>

    <div class="line-container">
        <input type="checkbox" class="checkbox" id="unavailable" name="unavailableString" />
        <label for="unavailable">In unavailable list</label>
    </div>

    <div class="form__actions">
        <button class="primary-button">Find courses</button>
    </div>
</form>

@{
    if (Model.QueryResult != null)
    {
        string className = Model.QueryResult.Success ? "green-text" : "red-text";
        <div class="response-container">
            <h3>Response:</h3>
            <p>Success: <span class="@className">@Model.QueryResult.Success.ToString()</span></p>
            <p>Code: @Model.QueryResult.StatusCode.ToString()</p>
            <p>Message: @Model.QueryResult.Message</p>
        </div>
    }
}

@if (Model.Courses != null)
{
    <div class="data-view">
        <h3>View data: </h3>
        @foreach (var course in Model.Courses)
        {
            <div class="result-value">
                <p>Id: <span class="white-selection">@course.Id</span></p>
                <p>Title: <span class="white-selection">@course.Title</span></p>
                <p>Description: <span class="white-selection">@course.Title</span></p>
                <p>Subscribers: <span class="white-selection">@course.SubscribersCount</span></p>
                <p>IsPublic: <span class="white-selection">@course.IsPublic</span></p>
                <p>IsUnavailable: <span class="white-selection">@course.IsUnavailable</span></p>
            </div>
        }
    </div>
}
