@page
@model LearnLink.WebApi.Pages.Courses.GetAnyModel
@{
    ViewData["Title"] = "Get any course";
}

<div class="breadcrumb">
    <h2 class="breadcrumb__item" onclick="redirect('Courses/CoursesActionsPage')">
        Courses
    </h2>
    <h2 class="breadcrumb__item" onclick="redirect('Courses/GetAny')">
        Get-Any
    </h2>
</div>

<p>Get course of any user</p>

<form class="form width-400" method="get">
    <div class="form-input">
        <p class="form-input__label">User Id</p>
        <input type="number" name="userId" placeholder="User Id..." class="input" />
    </div>

    <div class="form-input">
        <p class="form-input__label">Course Id</p>
        <input type="number" name="courseId" placeholder="Course Id..." class="input" />
    </div>

    <div class="form__actions">
        <button class="primary-button">Get any course</button>
    </div>
</form>

@{
    if (Model.QueryResult != null)
    {
        string className = Model.QueryResult.Success ? "green-text" : "red-text";
        <div class="response-container" id="register-response">
            <h3>Response:</h3>
            <p>Success: <span class="@className">@Model.QueryResult.Success.ToString()</span></p>
            <p>Code: @Model.QueryResult.StatusCode.ToString()</p>
            <p>Message: @Model.QueryResult.Message</p>
        </div>
    }
}

@if (Model.FoundCourse != null)
{
    <div class="data-view">
        <h3>View data</h3>
        <div class="result-value">
            <p>Id: <span class="white-selection">@Model.FoundCourse.Id</span></p>
            <p>Title: <span class="white-selection">@Model.FoundCourse.Title</span></p>
            <p>Description: <span class="white-selection">@Model.FoundCourse.Description</span></p>
            <p>CreationDate: <span class="white-selection">@Model.FoundCourse.CreationDate</span></p>
            <p>Subscribers: <span class="white-selection">@Model.FoundCourse.SubscribersCount</span></p>
            <p>IsPublic: <span class="white-selection">@Model.FoundCourse.IsPublic</span></p>
            <p>IsUnavailable: <span class="white-selection">@Model.FoundCourse.IsUnavailable</span></p>
            @if (Model.FoundCourse.Completed != null)
            {
                <p>Completed: <span class="white-selection">@Model.FoundCourse.Completed.Value</span></p>
            }

            @if (Model.FoundCourse.CompletionProgress != null)
            {
                <p>CompletionProgress: <span class="white-selection">@Model.FoundCourse.CompletionProgress.Value</span></p>
            }

            @if (Model.FoundCourse.LocalRole != null)
            {
                <p>LocalRole: <span class="white-selection">@Model.FoundCourse.LocalRole.Name</span></p>
            }

        </div>
    </div>
}
